name: start
run-name: start_flow

on:
  push:
    branches:
      - main
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      myvar: ${{ steps.setvariable.outputs.MY_VAR }}
    steps:
      - name: set env variable
        id: setvariable
        run: |
          echo "MY_VAR=hello" >> $GITHUB_OUTPUT
          echo "$MY_VAR"

      - name: print env variable
        run: echo "${{ steps.setvariable.outputs.MY_VAR }}"
  print:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: print env variable
        run: echo "${{ needs.setup.outputs.myvar }}"

