name: setup

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      myvar:
        value: ${{ jobs.setup.outputs.myvar }}
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      myvar: ${{ steps.setvariable.outputs.MY_VAR }}
    steps:
      - name: set env variable
        id: setvariable
        run: echo "MY_VAR=hello" >> $GITHUB_OUTPUT

      - name: print env variable
        run: echo "${{ steps.setvariable.outputs.MY_VAR }}"
  print:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: print env variable
        run: echo "${{ needs.setup.outputs.myvar }}"

